$font-stack: "Oswald", sans-serif;

$light-color-palette-1: #f8f4ef;
$light-color-palette-2: #e4d1ba;
$light-color-palette-3: #babac6;

$purple-color-palette-1: #7c5378;
$purple-color-palette-2: #1a136e;

$yellow-color-palette-1: #fdaa35;

$green-color-palette-1: #372f30;
